<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJS</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
</head>
<body>
    <section id="table" class="body">
        <form class="container">
            <label>
                <textarea name="" id="" cols="30" rows="10" v-model="listInput"></textarea>
            </label>
            <label>
                <textarea name="" id="" cols="30" rows="10" v-model="listInputTwo"></textarea>
            </label>
            <button type="submit" class="btn" @click="compareList">Compare List</button>
        </form>
    </section>
</body>
</html>