.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    justify-items: center;
}

.btn {
    padding: 10px 12px;
    font-size: 16px;
    background-color: #fff;
    cursor: pointer;
    border: 2px solid #000;
    transition: .4s;
}

.btn:hover {
    background-color: #000;
    color: #fff;
}